@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*,
*::before,
*::after {
  box-sizing: border-box;
}

* { line-height: 1 };

html {
  font-family: sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1;
  color: #333;
  text-align: left;
  background-color: #282c34;
}


/* Note: To make this a push-down navigation, removed position:fixed from here.
Alternatively, if you don't want the menu to be fixed, but you want it to slide over
the content (rather than pushing it down), go to main and uncomment the styles
(while also removing position: fixed here). */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


main {
  flex: 1;
  /* Change the push navigation to a slide-over navigation with this: */
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: -1; */

  /* If you don't want to put z-index: -1 here, you can alternatively put
  the following on #primary-navigation:

      position: relative;
      top: 0;
      left: 0;
      z-index: 1; */
  padding: 75px 25px;
}

.article {
  width: calc(100% -100px);
  margin: 0px 0px 50px 0px;
  padding: 25px;
  color: #333;
  background-color: snow;
  background-color: rgba(255,255,255, 0.04);
  border: 2px solid #61DAFB;
  border-radius: 1.5rem  !important;
  opacity: 1;
}

.article p {
  color: snow;
}


/* =============================================================================
                                Typography
============================================================================= */


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

h1 { font-size: 2.5rem;  }
h2 { font-size: 2rem;    }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem;  }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem;    }


.fancy-h1 {
  margin: 0;
  padding: 0px 25px;
  color: snow;
  text-align: center;
  font-size: 64px;
  font-family: Montserrat;
  letter-spacing: 3px;
  line-height: 1.25;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: violet;
  text-shadow: -3px 3px 6px rgba(0,0,0,0.15);
}

.fancy-h1 span {
  display: block;
  font-size: 24px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: violet;
}

.fancy-h2 {
  color: snow;
  font-size: 40px;
  font-family: Montserrat;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: violet;
  text-shadow: -2px 2px 4px rgba(0,0,0,0.15);
}


/* ===========================
           p
=========================== */


p {
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.75;
}

p:last-child {
  margin-bottom: 0px;
}


/* ===========================
         list elements
=========================== */


ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* ===========================
        button
=========================== */


button {
  margin: 0;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  line-height: 1.5;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


/* =============================================================================
                            Navigation Styles
============================================================================= */


/* ==========================
      #toggle-button
========================== */


#toggle-button {
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 10;
}

#toggle-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#toggle-button > div {
  height: 5px;
  width: 35px;
  margin: 5px 0;
  background-color: rgb(150,150,150);
  border-radius: 5px;
  transition: background-color 0.1s linear;
}

body.navigation-open #toggle-button > div {
  background-color: black;
}

#toggle-button:hover > div {
  background-color: white;
}

body.navigation-open #toggle-button:hover > div {
  background-color: rgb(220,220,220);
 filter: drop-shadow(-1px 1px 2px rgba(0,0,0,0.75));
}

#toggle-button,
#toggle-button > div,
body.navigation-open #toggle-button > div {
  transition: all 0.15s linear;
}


/* ==========================
      #primary-navigation
========================== */


#primary-navigation {
  /* padding: on the container caused problems.
  It seems to be a normal thing that padding affects height / max-height.
  Therefore, if you want padding, you should put it on
  an inner container. */
  background-color: rgba(0,0,0,0.75);
  background: -webkit-linear-gradient(0deg, #240b36, #c31432);
  background: linear-gradient(0deg, #240b36, #c31432);
  background-size: 200%;
  border-bottom: 1px solid black;
  overflow: hidden;
  /* Why is it okay to put transition here?
  Because it begins as display: none; */
  transition: height 0.25s linear;
}

#primary-navigation:not(body.navigation-open #primary-navigation) {
  display: none;
}

#primary-navigation ul {
  display:flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#primary-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
}

#primary-navigation li a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
  color: black;
}

#primary-navigation li:hover a {
  color: rgb(220,220,220);
  text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
  background: -webkit-linear-gradient(0deg, #240b36, #c31432);
  background: linear-gradient(0deg, #240b36, #c31432);
  background-size: 400%;
  outline: 1px solid black;
}


/* =============================================================================
                                Media Queries
============================================================================= */


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default. */


/* ===============================
Small devices (landscape phones, 576px - 767px)
================================ */


@media (min-width: 576px) {
  main {
    padding: 75px 50px;
  }
}


/* ===============================
Medium devices (tablets, 768px - 991px)
================================ */


@media (min-width: 768px) {
}


/* ===============================
Large devices (desktops, 992px - 1199px)
================================ */


@media (min-width: 992px) {
  main { padding: 125px 50px; }

  #toggle-button { display: none; }
  #primary-navigation { display: block !important; }

  #primary-navigation ul {
    flex-direction: row;
  }

  #primary-navigation {
    background-size: 250%;
  }
}


/* ===============================
Extra large devices (large desktops, 1200px and up)
================================ */


@media (min-width: 1200px) {
}
